
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* color */
  --white:#fff;
  --grey:#ccc;
  --green:#54b192;
  --navbar-color: #242526;
  --header-color:#6c63ff;
  --red:#f75842;
  --blue:#6c63ff;
  --bg: #2E343B;
  --bg2: #422890;
  --fb:#3b5999;
  --ig:#e4405f;
  --tw:#55acee;
  /* transition */
  --smooth: all 0.3s ease-in;
}

body {
  /* dark-theme */
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
}

.light-theme{
  --white:#3f3d56;
  --grey:#ccc;
  --green:#54b192;
  --navbar-color: #242526;
  --red:#f75842;
  --blue:#3f3d56;
  --bg: #FDC96C;
  --bg2: #54b192;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

ul {
  list-style: none;
}

button {
  text-align: center;
  color: #fff;
  background-color: #3f3d56;
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: var(--smooth);
}

/* ============header============= */
header {
  position: absolute;
  position: fixed;
  background-color: var(--navbar-color);
  width: 100%;
  height: 10vh;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0;
}

/* logo */
.navbar .navbar__logo img {
  width: 57px;
  height: 57px;
  object-fit: cover;
}

/* list menu */
.navbar .navbar__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar .navbar__list a {
  color: #fff;
  font-weight: 300;
  transition: var(--smooth);
}

.navbar .navbar__list a:hover {
  color: var(--header-color);
  transition: var(--smooth);
}

.navbar .navbar__list .navbar__list--item {
  margin: 30px 55px;
}

/* nút dark-light mode */
.navbar .navbar__mode {
  text-align: center;
}

.navbar .navbar__mode .switch {
  position: relative;
  cursor: pointer;
  width: 7rem;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: #000;
  border-radius: 10rem;
  transition: var(--smooth);
}

.navbar .navbar__mode .switch .fa-moon {
  color: #f1c40f;
  font-size: 1.5rem;
}

.navbar .navbar__mode .switch .fa-sun {
  color: #f39c12;
  font-size: 1.5rem;
}

/* hình tròn giữa nút mode */
.navbar .navbar__mode .switch::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  left: 0;
  transition: var(--smooth);
}

.navbar .navbar__mode .switch-input {
  display: none;
}

/* nút tròn di chuyển */
.navbar .navbar__mode .switch-input:checked + .switch {
  background-color: var(--blue);
}

.navbar .navbar__mode .switch-input:checked + .switch::after {
  transform: translateX(4rem);
  background-color: white;
}

/* ============banner============= */
#banner {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

#banner .banner__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 580px;
  width: 50%;
}

#banner .banner__heading {
  text-align: initial;
  z-index: 1;
  padding-top: 10%;
  height: 580px;
  width: 50%;
}

#banner .banner__heading h1 {
  color: var(--blue);
  font-size: 4rem;
  margin-bottom: 1rem;
}

#banner .banner__heading p {
  font-weight: 300;
  margin-bottom: 1.5em;
  line-height: 2rem;
  color: var(--white);
}

#banner .banner__heading .banner__heading--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#banner .banner__heading .banner__heading--item .banner__btn {
  margin-top: 5rem;
  margin-right: 8rem;
  font-size: 1.5rem;
  transform: translateY(-2rem);
  background-color: var(--green);
}

#banner .banner__heading .banner__heading--item .banner__btn:hover {
  background-color: var(--navbar-color);
  color: var(--blue);
  transition: var(--smooth);
}

#banner .banner__heading .banner__heading--item img {
  width: 155px;
  height: 200px;
  animation: move 2s alternate infinite;
}

@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2rem);
  }
}

/* ============play============= */
#play {
  width: 100%;
  height: 100vh;
  color: var(--white);
  text-align: center;
  font-size: 5rem;
  padding: 5rem;
}

/* ============team============= */
#team {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

#team .container {
  border-top: #ccc 1px solid;
  display: flex;
  align-self: center;
  justify-content: end;
  height: 60vh;
  gap: 10%;
}

#team .container h2 {
  margin-top: 13%;
  margin-left: 5%;
  text-align: center;
  width: 15%;
  font-size: 2.5rem;
  color: var(--blue);
}

#team .container .team {
  margin-top: 3rem;
  width: 70%;
  height: 50vh;
  display: flex;
  align-self: end;
  gap: 15%;
}

#team .container .team .team__member {
  width: 40%;
  height: 50vh;
  position: relative;
  background: var(--bg2);
  padding: 1rem;
  border: transparent 1px solid;
  border-radius: 3rem;
  overflow: hidden;
}

#team .container .team .team__member:hover {
  border-color: var(--blue);
  transition: var(--smooth);
}

#team .container .team .team__member:hover:hover .team__member--img img {
  filter: saturate(1);
}

#team .container .team .team__member .team__member--img {
  top: 0;
  width: 100%;
  height: 70%;
}

#team .container .team .team__member .team__member--img img {
  transform: translateX(10%);
  width: 80%;
  border-radius: 50%;
  object-fit: cover;
  filter: saturate(0);
}

#team .container .team .team__member .team__member--info * {
  height: 30%;
  margin-top: 1.5rem;
  text-align: center;
  color: var(--white);;
}

#team .container .team .team__member .team__member--social {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem 0 0 1rem;
  border: -2rem 0 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
  right: -100%;
}

#team .container .team .team__member .team__member--social a {
  font-size: 2rem;
  padding: 1rem;
}

#team .container .team .team__member .team__member--social a:nth-child(2) {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#team .container .team .team__member .team__member--social a .fa-facebook {
  color: var(--fb);
}

#team .container .team .team__member .team__member--social a .fa-instagram {
  color: var(--ig);
}

#team .container .team .team__member .team__member--social a .fa-twitter {
  color: var(--tw);;
}

#team .container .team .team__member .team__member--social a .social-share-icon {
  width: 40px;
  height: 40px;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#team .container .team .team__member:hover .team__member--social {
  right: 0;
  transition: var(--smooth);
}

/* ============contact============= */
#contact .contact__container {
  max-width: 1200px;
  width: 100%;
  background-color: var(--bg2);
  padding: 5rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  margin: 5rem auto;
  border-radius: 1rem;
}

#contact .contact__container .contact__aside {
  background-color: var(--blue);
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 1rem;
}

#contact .contact__container .contact__aside .aside__img {
  width: 12rem;
  margin-bottom: 2rem;
}

#contact .contact__container .contact__aside h2 {
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1rem;
  color: var(--white);;
}

#contact .contact__container .contact__aside p {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: var(--white);;
}

#contact .contact__container .contact__aside .contact__detail li {
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

#contact .contact__container .contact__aside .contact__social {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}

#contact .contact__container .contact__aside .contact__social a {
  background-color: var(--white);;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: var(--smooth);
}

#contact .contact__container .contact__aside .contact__social a .fa-facebook {
  color: var(--fb);
}

#contact .contact__container .contact__aside .contact__social a .fa-instagram {
  color: var(--ig);;
}

#contact .contact__container .contact__aside .contact__social a .fa-twitter {
  color: var(--tw);;
}

#contact .contact__container .contact__aside .contact__social a:hover {
  background-color: transparent;
}

#contact .contact__container .contact__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 1rem;
  position: relative;
}

#contact .contact__container .contact__form textarea, #contact .contact__container .contact__form input {
  padding: 1.5rem;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  border: 1px solid var(--blue);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white);;
  resize: none;
}

#contact .contact__container .contact__form label {
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  left: 1rem;
  background-color: var(--bg2);
  font-size: 1rem;
  transform: translateY(-50%);
  color: var(--blue);
}

#contact .contact__container .contact__form .submit__btn {
  width: max-content;
  cursor: pointer;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 4px;
  background-color: var(--red);
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 500;
  transition: all 400ms ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}

#contact .contact__container .contact__form .submit__btn:hover {
  background-color: var(--red);
  transform: rotateY(-15deg);
}

/* ============footer============= */
footer {
  background-color: #242526;
  color: var(--white);;
  padding-top: 2rem;
  font-size: 1rem;
}

.footer__container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  justify-content: space-between;
  
}

.footer__container h4 {
  color: #fff;
  margin: 0 0 1rem;
}

.footer__container ul li {
  margin-bottom: 1rem;
}

.footer__container ul li a {
  color: #fff;
}

.footer__container ul li a:hover {
  text-decoration: underline;
}

.footer__container p {
  margin: 1rem 0;
  color: #fff;
}

.footer__container .footer__1 {
  width: 40%;
}

.footer__container .footer__3 .footer__socical {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.footer__container .footer__3 .footer__socical .fa-facebook {
  color: var(--fb);
}

.footer__container .footer__3 .footer__socical .fa-instagram {
  color: var(--ig);;
}

.footer__container .footer__3 .footer__socical .fa-twitter {
  color: var(--tw);
}

